<section class="section-form-devise">
<h2>Modifier mon profil <% resource_name.to_s.humanize %></h2>

<div class="form-devise-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "fill-field" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <% f.label :password %>Mot de passe <i><br>(Uniquement si vous souhaitez le changer)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "fill-field" %>
    <% if @minimum_password_length %>
      <br />
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <% f.label :password_confirmation %>Confirmer le mot de passe<br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "fill-field" %>
  </div>

  <div class="field">
    <% f.label :current_password %>Mot de passe actuel<i><br>(Requis pour valider les changements)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "fill-field" %>
  </div>

  <div class="actions">
    <%= button_tag( :class => "btn btn-primary", :type => "submit" ) do %> Modifier
      <% end %>
  </div>
<% end %>

<h5 class="mt-5 mb-0">Supprimer mon compte</h5>

<p><%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Êtes-vous sur(e) ? Cette action est irréversible" }, method: :delete, class: "btn btn-secondary-edit" %></p>

<%= link_to "Retour", :back %>
</div>
</section>
