<div class="mdk-drawer js-mdk-drawer"
                 id="default-drawer">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-black-dodger-blue sidebar-left"
                         data-perfect-scrollbar>
      <!-- Sidebar Content -->
      <%= link_to root_path,  class:"sidebar-brand"  do %>
        <span class="avatar avatar-xl sidebar-brand-icon h-auto">
          <div class="rounded bg-primary"><%= image_tag('logoZorya.png', class: 'img-fluid', alt: 'logo') %></div>
        </span>
      <% end %>
      <div class="sidebar-container">
        <span class="sidebar-text">
          <% if user_signed_in? %>
            <%= link_to "Accueil", root_path, class: "sidebar-link" %><br>
            <%= link_to "Mes formations", user_assignments_path(current_user.id), class: "sidebar-link" %><br>
            <% if current_user.status_customer? %>
              <%= link_to "Mon espace entreprise", company_path(current_user.company.id), class: "sidebar-link" %>
            <% end %>
            <% if current_user.status_administrator? %>
              <%= link_to "Mon espace entreprise", company_path(current_user.company.id), class: "sidebar-link" %>
              <%= link_to "Administrer Zorya", rails_admin_path(), class: "sidebar-link" %>
            <% else %>
            <% end %>
          <% end %>
        </span>
      </div>
      <!-- // END Sidebar Content -->
    </div>
  </div>
</div>
