<div class="mdk-drawer js-mdk-drawer"
                 id="default-drawer">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-black-dodger-blue sidebar-left"
                         data-perfect-scrollbar>
      <!-- Sidebar Content -->
      <div class="d-flex align-items-center navbar-height">
        <form action="index.html"
                                  class="search-form search-form--black mx-16pt pr-0 pl-16pt">
          <input type="text"
                                       class="form-control pl-0"
                                       placeholder="Search">
          <%= button_tag( :class => "btn", :type => "submit" ) do %>
            <i class="bi bi-search font-size-20pt"></i>
          <% end %>
        </form>
      </div>
      <a href="index.html"
                           class="sidebar-brand ">
        <span class="avatar avatar-xl sidebar-brand-icon h-auto">
          <div class="rounded bg-primary"><%= image_tag('logoZorya.png', class: 'img-fluid', alt: 'logo') %></div>
        </span>
      </a>
      <div class="sidebar-container">
        <span class="sidebar-text">
          <% if user_signed_in? %>
            <%= link_to "Accueil", root_path, class: "sidebar-link" %><br>
            <%= link_to "Mes formations", user_assignments_path(current_user.id), class: "sidebar-link" %><br>
            <% if current_user.status_customer? %>
              <%= link_to "Mon espace entreprise", company_path(current_user.company.id), class: "sidebar-link" %>
            <% end %>
          <% else %>
          <% end %>
        </span>
      </div>
      <!-- // END Sidebar Content -->
    </div>
  </div>
